{% extends "base.html" %}
{% block link_css %}
    <style>
        .myButton{
            position: absolute;
            left: 80%;
            top: 11px;
        }
    .myLi{
        position: relative;
    }
    </style>
{% endblock %}
{% block body %}
    <!--content-->
    <div class="i_content">
        <div class="adr_wrap">
            <div class="adr">
                <span class="adr_link"><a href={{ url_for(".index") }}>首   页</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;学习计划&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;岗位选择</span>
            </div>
        </div>
        <div class="c_area">
            <div class="left_list">
                <div class="nav_title">岗位列表</div>
                <div class="sidemenu">
                    <ul>
                        <li class="myLi"><a href="javascript:;" onclick="javascript:change(this)">前端开发</a><button class="myButton" onclick="window.open('{{ url_for("student.set_direction",id=1) }}')">选择</button></li>
                        <li class="myLi"><a href="javascript:;" onclick="javascript:change(this)">java开发</a><button class="myButton" onclick="window.open('{{ url_for("student.set_direction",id=2) }}')">选择</button></li>
                        <li class="myLi"><a href="javascript:;" onclick="javascript:change(this)">UI设计师</a><button class="myButton" onclick="window.open('{{ url_for("student.set_direction",id=3) }}')">选择</button></li>
                        <li class="myLi"><a href="javascript:;" onclick="javascript:change(this)">PHP</a><button class="myButton" onclick="window.open('{{ url_for("student.set_direction",id=4) }}')">选择</button></li>
                        <li class="myLi"><a href="javascript:;" onclick="javascript:change(this)">Python</a><button class="myButton" onclick="window.open('{{ url_for("student.set_direction",id=5) }}')">选择</button></li>
                        <li class="myLi"><a href="javascript:;" onclick="javascript:change(this)">Android</a><button class="myButton" onclick="window.open('{{ url_for("student.set_direction",id=6) }}')">选择</button></li>
                        <li class="myLi"><a href="javascript:;" onclick="javascript:change(this)">美工</a><button class="myButton" onclick="window.open('{{ url_for("student.set_direction",id=7) }}')">选择</button></li>
                        <li class="myLi"><a href="javascript:;" onclick="javascript:change(this)">深度学习</a><button class="myButton" onclick="window.open('{{ url_for("student.set_direction",id=8) }}')">选择</button></li>
                        <li class="myLi"><a href="javascript:;" onclick="javascript:change(this)">算法工程师</a><button class="myButton" onclick="window.open('{{ url_for("student.set_direction",id=9) }}')">选择</button></li>
                        <li class="myLi"><a href="javascript:;" onclick="javascript:change(this)">Hadoop</a><button class="myButton" onclick="window.open('{{ url_for("student.set_direction",id=10) }}')">选择</button></li>
                        <li class="myLi"><a href="javascript:;" onclick="javascript:change(this)">Node.js</a><button class="myButton" onclick="window.open('{{ url_for("student.set_direction",id=11) }}')">选择</button></li>
                        <li class="myLi"><a href="javascript:;" onclick="javascript:change(this)">大数据开发</a><button class="myButton" onclick="window.open('{{ url_for("student.set_direction",id=12) }}')">选择</button></li>
                        <li class="myLi"><a href="javascript:;" onclick="javascript:change(this)">数据分析师</a><button class="myButton" onclick="window.open('{{ url_for("student.set_direction",id=13) }}')">选择</button></li>
                        <li class="myLi"><a href="javascript:;" onclick="javascript:change(this)">数据架构</a><button class="myButton" onclick="window.open('{{ url_for("student.set_direction",id=14) }}')">选择</button></li>
                        <li class="myLi"><a href="javascript:;" onclick="javascript:change(this)">人工智能</a><button class="myButton" onclick="window.open('{{ url_for("student.set_direction",id=15) }}')">选择</button></li>
                        <li class="myLi"><a href="javascript:;" onclick="javascript:change(this)">区块链</a><button class="myButton" onclick="window.open('{{ url_for("student.set_direction",id=16) }}')">选择</button></li>

                    </ul>
                </div>
                <div class="contact">
                    <a href={{ url_for('.about3') }}><img src={{ url_for('static', filename="images/tel.jpg") }}/></a>
                </div>
            </div>
            <div class="right_content">
                <div class="con_title">岗位简介</div>
                <div class="con_box">
                    <p id="p-detail">
                        Web前端开发是从网页制作演变而来，名称上有很明显的时代特征。在互联网的演化进程中，网页制作是Web1.0时代的产物，早期网站主要内容都是静态，以图片和文字为主，用户使用网站的行为也以浏览为主。随着互联网技术的发展和HTML5、CSS3的应用，现代网页更加美观，交互效果显著，功能更加强大。
                    </p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="friend_link">
                <b>友情链接：</b><a href="" target="_blank">大数据研究中心</a><a href="" target="_blank">大数据团队</a>
            </div>
        </div>
    </div>
    <style>
        .right_content{
            min-height: 1000px !important;
        }
    </style>
    <script type="text/javascript" src={{ url_for('static', filename="js/function.js") }}></script>
{% endblock %}