<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>project</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
</head>
<body>
<div class="container">
    <div class="col-md-12">
        <table class="table table-hover">
            <caption style="text-align: center; color: blue">学习计划</caption>
            <tr>
                <td width="25%">时间</td>
                <td width="25%">课程</td>
                <td width="25%">等级</td>
                <td width="25%">进度</td>
            </tr>
            <tr>
                <td>2016.3  -  2016.4</td>
                <td>HTML</td>
                <td>入门</td>
                <td>5%</td>
            </tr>
            <tr>
                <td>2016.4  -  2016.6</td>
                <td>CSS</td>
                <td>入门</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>2016.6  -  2016.9</td>
                <td>JavaScript</td>
                <td>初级</td>
                <td>20%</td>
            </tr>
            <tr>
                <td>2016.9  -  2016.12</td>
                <td>JQuery</td>
                <td>中级</td>
                <td>35%</td>
            </tr>
            <tr>
                <td>2017.1  -  2017.2</td>
                <td>BootStrap</td>
                <td>中级</td>
                <td>45%</td>
            </tr>
            <tr>
                <td>2017.2  -  2017.5</td>
                <td>Vue.js</td>
                <td>高级</td>
                <td>60%</td>
            </tr>
        </table>
    </div>
</div>

</body>
<script src="bootstrap/js/jquery-3.3.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
</html>