{% extends "study/base.html" %}

{% block page_content %}
<div style="width: 20%; float: left; border:1px solid #bbe1f1;background:#eefaff;">
    <table class="table table-hover">
    {% for course in courses %}
            <tr><td><a id="{{ course[0] }}" href="javascript:;" onclick="javascript:get_html(this)">{{ course[1] }}</a></td></tr>
    {% endfor %}
    </table>
</div>
<div id="content" style="width: 79%;  height:2928px; float: right ;border:1px solid #cceff5;background:#fafcfd;">
    <iframe id="frame" frameborder="0" name="Iframe1" scrolling="no" src={{ url_for('static', filename="html/html1.html") }} width="100%" height="100%">
    您的浏览器不支持嵌入式框架，或者当前配置为不显示嵌入式框架。
    </iframe>
</div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src={{ url_for('static', filename="js/function.js") }}></script>
    <script type="text/javascript" src={{ url_for('static', filename="js/jquery-1.11.0.min.js") }}></script>
{% endblock %}